---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Singlish Lessons";
const allLessons = await getCollection("lessons");
---

<BaseLayout pageTitle={pageTitle}>
  <p>Find all the Singlish lessons here.</p>
  <ul>
    {
      allLessons.map((lesson) => 
        <BlogPost url={`/lessons/${lesson.id}/`} title={lesson.data.title} />)
    }
  </ul>
</BaseLayout>
