---
/**
 * scroll padding component -- adapted from code in cpu.land, written by
 * kognise & Hack Club
 * 
 * Source: https://github.com/hackclub/putting-the-you-in-cpu/blob/main/src/components/ScrollPadding.astro
 */
export interface Props {
	hideEditions?: boolean
}

---

<footer class='scroll-padding'>
	<div class='content'>
		<p>[This Space Intentionally Left Blank]</p>
		<p>The bottom of every page is padded so readers can maintain a consistent eyeline.</p>
		<p>
			<a target='_blank' href='https://github.com/jchanke/singlish-stuco/tree/main/src/lessons'>
				Open source with ❤︎ on GitHub
			</a>
		</p>
	</div>
</footer>